@using BookCrossingApp.Data.Enum
@model BookCrossingApp.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменение данных о книге</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="PictureName" />
            <input type="hidden" asp-for="CreatorUserId" />
            <div class="form-group">
                <label asp-for="BCID" class="control-label"></label>
                <input asp-for="BCID" class="form-control" />
                <span asp-validation-for="BCID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Название</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Автор</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Категория</label>
                <select asp-for="CategoryID" asp-items="Html.GetEnumSelectList<BookCategories>()" class="form-control"></select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <label>Фото книги</label>
                <div class="media flex-wrap mb-0 align-items-center">
                    @{
                        var imageUrl = string.IsNullOrEmpty(Model.PictureName)
                        ? "/img/default.jpg"
                        : Model.PictureName;
                    }
                    <img alt="Image" src="/img/@imageUrl" class="avatar avatar-square mb-3 mb-md-0" />
                    <div class="media-body">
                                <span class="btn btn-primary"><i class="icon-upload-to-cloud">&nbsp;</i>Загрузить</span> 
                                <button id="submit-image-button" type="submit" hidden></button>
                            <div>
                                <small>Для лучшего результата, используйте избображение размером минимум 256px на 256px в формате .jpg или .png</small>
                            </div>
                    </div>
                </div>
                
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку книг</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
